# Gradle
.gradle
**/build/
!**/src/**/build/
gradle-app.setting
.gradletasknamecache

# Keep Gradle Wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Java
*.class
*.log
hs_err_pid*

# OS Files
.DS_Store
Thumbs.db

*.jar
*.war
*.nar
*.ear
!gradle/wrapper/*.jar

